<head>
    {% load static %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'inventory/style.css' %}" />
</head>
<body>
    <form id="frm_bannerRight">
        <div id="div_flag" class="bannerDiv contentPart" >
            <div class="title" >
                <img src="{% static 'inventory/logo.png' %}" class="titleImage" >
                <h1>{{ title }}</h1>
            </div>
            <!--<button type="submit">Ich bin Rechts</button> HEADER BUTTON POSITION-->
        </div>
    </form>
    <div id="div_content" class="contentDiv contentPart" >
        {% block content %}{% endblock %}
    </div>
    <div id="div_subcontent" class="subcontentDiv" >
        <form>
            <label>Owner: Lara Bierbaum, Maurice Leditzke, Patric Ziel</label>
        </form>
    </div>
</body>