{% extends 'inventory/base.html' %}
{% block content %}
  {% if order %}
    <form id="frm_returnButton"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-search' %}" >
      {% csrf_token %}
        <div class="subHeaderDiv" >
            <button>
                Zur Auftrags Übersicht
            </button>
        </div>
    </form>
    <form id="frm_orderDetails"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-detail' %}" >
      {% csrf_token %}
        <table>
            <tr>
                <th>Artikel-Nummer</th>
                <th>Artikel-Bezeichnung</th>
                <th>Hersteller</th>
                <th>bestellte Menge</th>
                <th>noch vorhandene Menge</th>
                <th>Regal</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.inventoryItem.number}}</td>
                <td>{{item.inventoryItem.name}}</td>
                <td>{{item.inventoryItem.manufacturer}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.inventoryItem.stock}}</td>
                <td>{{item.inventoryItem.shelf}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
  {% endif %}
{% endblock %}
