{% extends "inventory/base.html" %}
{% block content %}
{% load static %}
    <form id="frm_redirect"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-detail' %}"
          style="display: none" >
      {% csrf_token %}
        <input id="input_redirectValue" name="selectedOrderId" type="hidden" />
    </form>
    <form id="frm_content" method="POST" enctype="multipart/form-data" >
        <script type="text/javascript" src="{% static 'inventory/orderListScript.js' %}" ></script>
        <table id="tbl_orders"
               class="ordersTable selectable" >
            <thead>
                <tr class="header" >
                    <th>Auftrags-Nummer</th>
                    <th>Kunde</th>
                </tr>

                <tr class="filter" >
                    <th>
                        <input id="input_orderNoFilter"
                               type="search"
                               value="{{ filter_order_no }}"
                               placeholder="Auftrags-Nummer"
                               name="orderNoSearch"
                               onkeyup="filter(event)" >
                    </th>
                    <th>
                        <input id="input_customerNameFilter"
                               type="search"
                               name="customerSearch"
                               value="{{ filter_customer }}"
                               placeholder="Kunde"
                               onkeyup="filter(event)" >
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="contentRow" onclick="orderClick('{{order.id}}');" >
                    <td>{{order.number}}</td>
                    <td>{{order.customer.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock content %}