{% extends "inventory/base.html" %}
{% block content %}
{% load static %}
    <form id="frm_redirect"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-detail' %}"
          style="display: none" >
      {% csrf_token %}
        <input id="input_redirectValue" name="selectedOrderId" type="hidden" />
    </form>
    <form id="frm_content"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-search' %}"
          class="contentForm" >
        {% csrf_token %}
        <script type="text/javascript" src="{% static 'inventory/orderListScript.js' %}" ></script>
        <input id="hidden_filter"
               name="isFilter"
               style="display: none" >
        <table id="tbl_orders"
               class="ordersTable selectable flexTable" >
            <thead>
                <tr class="header" >
                    <th>
                        <div>Auftrags-Nummer</div>
                    </th>
                    <th>
                        <div>Kunde</div>
                    </th>
                </tr>

                <tr class="filter" >
                    <th>
                        <input id="input_orderNoFilter"
                               type="search"
                               value="{{ filter_order_no }}"
                               placeholder="Auftrags-Nummer"
                               name="orderNoSearch"
                               onkeyup="filter(event)" >
                    </th>
                    <th>
                        <input id="input_customerNameFilter"
                               type="search"
                               name="customerSearch"
                               value="{{ filter_customer }}"
                               placeholder="Kunde"
                               onkeyup="filter(event)" >
                    </th>
                </tr>
            </thead>
            <tbody id="tbl_orders_body" >
                {% for order in orders %}
                <tr class="contentRow" onclick="orderClick('{{order.id}}');" >
                    <td>
                        <div>{{order.number}}</div>
                    </td>
                    <td>
                        <div>{{order.customer.name}}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock content %}