{% extends 'inventory/base.html' %}
{% block content %}
{% load static %}
  {% if order %}
    <form id="frm_returnButton"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-search' %}" >
      {% csrf_token %}
        <div class="subHeaderDiv" >
            <div class="sub_header_spacement_div" >
                <button>
                    Zur Auftrags Übersicht
                </button>

                <img id="icon_show_best_path" src="{% static 'inventory/gps.png' %}" class="iconButton" >
            </div>
        </div>
    </form>
    <form id="frm_orderDetails"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-detail' %}"
          class="orderDetailsForm" >
      {% csrf_token %}
        <script type="text/javascript" src="{% static 'inventory/orderDetailsScript.js' %}" ></script>
        <table class="orderDetailsTable flexTable" >
            <thead>
                <tr class="header" >
                    <th>
                        <div>
                            Artikel-Nummer
                        </div>
                    </th>
                    <th>
                        <div>
                            Artikel-Bezeichnung
                        </div>
                    </th>
                    <th>
                        <div>
                            Hersteller
                        </div>
                    </th>
                    <th>
                        <div>
                            bestellte Menge
                        </div>
                    </th>
                    <th>
                        <div>
                            Regal
                        </div>
                    </th>
                    <th>
                        <div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="contentRow" >
                    <td>
                        <div>{{item.inventoryItem.number}}</div>
                    </td>
                    <td>
                        <div>{{item.inventoryItem.name}}</div>
                    </td>
                    <td>
                        <div>{{item.inventoryItem.manufacturer}}</div>
                    </td>
                    <td>
                        {% if item.inventoryItem.stock > item.amount %}
                        <div>{{item.amount}}</div>
                        {% else %}
                        <div style="color: red;">{{item.amount}}</div>
                        {% endif %}
                    </td>
                    <td>
                        <div>{{item.inventoryItem.shelf}}</div>
                    </td>
                    <td>
                        <div>
                            <input type="checkbox"
                                   value="{{item.inventoryItem.is_done}}"
                                   onclick="disableCheckbox()" >
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <div id="pnl_tsp_best_path" class="tsp_image_div" >
        <img src="{% static 'inventory/close.png' %}" class="close-icon" >
        <img src='data:image/png;base64,{{picture}}' class="tsp_image" >
    </div>
  {% endif %}
{% endblock %}
