{% extends 'inventory/base.html' %}
{% block content %}
  {% if order %}
    <form id="frm_returnButton"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-search' %}" >
      {% csrf_token %}
        <div class="subHeaderDiv" >
            <button>
                Zur Auftrags Übersicht
            </button>
        </div>
    </form>
    <form id="frm_orderDetails"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'order-detail' %}"
          class="orderDetailsForm" >
      {% csrf_token %}
        <table class="orderDetailsTable flexTable" >
            <thead>
                <tr class="header" >
                    <th>
                        <div>
                            Artikel-Nummer
                        </div>
                    </th>
                    <th>
                        <div>
                            Artikel-Bezeichnung
                        </div>
                    </th>
                    <th>
                        <div>
                            Hersteller
                        </div>
                    </th>
                    <th>
                        <div>
                            bestellte Menge
                        </div>
                    </th>
                    <th>
                        <div>
                            noch vorhandene Menge
                        </div>
                    </th>
                    <th>
                        <div>
                            Regal
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="contentRow" >
                    <td>
                        <div>{{item.inventoryItem.number}}</div>
                    </td>
                    <td>
                        <div>{{item.inventoryItem.name}}</div>
                    </td>
                    <td>
                        <div>{{item.inventoryItem.manufacturer}}</div>
                    </td>
                    <td>
                        <div>{{item.amount}}</div>
                    </td>
                    <td>
                        <div>{{item.inventoryItem.stock}}</div>
                    </td>
                    <td>
                        <div>{{item.inventoryItem.shelf}}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
  {% endif %}
{% endblock %}
